.list-container-bg{
    background-image: linear-gradient(to right, #3B185F,#863A6F);
    min-height: 100vh;
    color: white;
    padding: 10px;
}
.project-heading{
    color: #ffff;
    font-family: 'Bree-serif';
    font-size: 27px;
    font-weight: bold;
    
}

.ant-list-items{
    display: flex;
}